aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.5
aniso8601==9.0.1
anyascii==0.3.1
arrow==1.2.2
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
auditlog3==1.0.1
autopep8==1.6.0
azure-ai-formrecognizer==3.2.0
azure-common==1.1.28
azure-core==1.26.1
backoff==1.11.1
backports.entry-points-selectable==1.1.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
bleach==5.0.0
blinker==1.4
bokeh==2.4.2
bootstrap4==0.1.0
boto==2.49.0
boto3==1.26.22
botocore==1.29.22
bs4==0.0.1
cachelib==0.4.1
certifi==2020.6.20
cffi==1.14.4
channels==4.0.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==2.2.0
colorama==0.4.4
commonmark==0.9.1
config==0.5.1
cookiecutter==1.7.3
crispy-bootstrap5==0.7
cryptography==38.0.4
cs50==8.0.1
cycler==0.11.0
databricks-cli==0.17.3
DBcm==1.7.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2
django-allauth==0.50.0
django-autoslug==1.9.8
django-boost==2.0
django-bootstrap3==21.2
django-browser-reload==1.3.0
django-ckeditor==6.4.0
django-cleanup==6.0.0
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-el-pagination==3.3.0
django-environ==0.8.1
django-etc==1.3.1
django-faq==0.8.3
django-filter==22.1
django-friendship==1.9.6
django-heroku==0.3.1
django-hitcount==1.3.5
django-image-uploader-widget==0.2.3
django-jet-4==0.0.1
django-js-asset==2.0.0
django-markdown-deux==1.0.5
django-messages==0.6.0
django-modelcluster==6.0
django-multiselectfield==0.1.12
django-pagedown==2.2.1
django-permissionedforms==0.1
django-phonenumber-field==6.1.0
django-rest-knox==4.2.0
django-split-settings==0.2.5
django-storages==1.13.1
django-summernote==0.8.20.0
django-taggit==2.1.0
django-tailwind==3.1.1
django-treebeard==4.5.1
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
dnspython==1.16.0
docker==6.0.1
docopt==0.6.2
dominate==2.5.2
draftjs-exporter==2.1.7
elasticsearch==7.17.7
elementpath==3.0.2
email-validator==1.1.1
entrypoints==0.4
enum34==1.1.6
et-xmlfile==1.1.0
farm-haystack==1.11.1
filelock==3.0.12
Flask==2.0.2
Flask-Admin==1.5.6
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Moment==1.0.2
Flask-MySQLdb==0.2.0
Flask-RESTful==0.3.8
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
fonttools==4.33.3
frozenlist==1.3.0
gcloud==0.17.0
gitdb==4.0.10
GitPython==3.1.29
googleapis-common-protos==1.54.0
greenlet==1.0.0
gunicorn==20.1.0
html5lib==1.1
httplib2==0.20.2
huggingface-hub==0.11.1
idna==2.9
image==1.5.33
importlib-metadata==5.1.0
inflect==6.0.2
isodate==0.6.1
itsdangerous==2.0.1
jarowinkler==1.2.3
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
jws==0.1.3
kiwisolver==1.4.2
l18n==2021.3
langdetect==1.0.9
llvmlite==0.39.1
lxml==4.9.1
Mako==1.1.6
Markdown==3.4.1
markdown2==2.3.1
MarkupSafe==2.0.1
marshmallow==3.16.0
matplotlib==3.5.1
mlflow==2.0.1
mmh3==3.0.0
monotonic==1.6
more-itertools==9.0.0
msrest==0.7.1
multidict==6.0.2
mysql-connector-python==8.0.27
mysqlclient==2.0.3
networkx==2.8.8
nltk==3.7
notifications==0.3.2
num2words==0.5.12
numba==0.56.4
numpy==1.22.3
oauth2client==3.0.0
oauthlib==3.2.0
olefile==0.44
openpyxl==3.2.0b1
packaging==21.3
pandas==1.4.2
passlib==1.7.4
phonenumberslite==8.12.46
Pillow==9.2.0
pipenv==2022.11.30
platformdirs==2.3.0
posthog==2.2.0
poyo==0.5.0
Products.SimpleBlog==3.0
protobuf==3.19.1
psycopg2==2.9.5
psycopg2-binary==2.9.5
pushbullet.py==0.12.0
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.17
pycryptodome==3.12.0
pydantic==1.10.2
PyJWT==1.7.1
pymongo==3.3.1
PyMySQL==0.9.3
pyOpenSSL==22.1.0
pyparsing==3.0.6
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.19.2
pysaml2==7.2.1
python-dateutil==2.8.2
python-decouple==3.6
python-docx==0.8.11
python-dotenv==0.20.0
python-jwt==2.0.1
python-magic==0.4.25
python-slugify==6.1.2
python-social-auth==0.3.6
python-sql-generator==0.9.7
python3-openid==3.2.0
pytz==2021.3
pywin32==305
PyYAML==6.0
quantulum3==0.7.11
querystring-parser==1.2.4
rapidfuzz==2.7.0
regex==2022.10.31
requests==2.26.0
requests-oauthlib==1.3.1
requests-toolbelt==0.7.0
rsa==4.8
s3transfer==0.6.0
scikit-learn==1.1.3
scipy==1.9.3
sentence-transformers==2.2.2
sentencepiece==0.1.97
seqeval==1.2.2
shap==0.41.0
six==1.16.0
slicer==0.0.7
slugify==0.0.1
smmap==5.0.0
social-auth-app-django==5.0.0
social-auth-core==4.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.29
sqlparse==0.4.2
stripe==2.64.0
tabulate==0.9.0
telepath==0.3
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==3.1.0
tika==1.24
tokenizers==0.12.1
toml==0.10.2
torch==1.12.1
torchvision==0.13.1
tornado==6.1
tqdm==4.64.1
transformers==4.21.2
typing_extensions==4.4.0
tzdata==2022.2
ua-parser==0.10.0
urllib3==1.26.7
user-agents==2.2.0
validate-email==1.3
virtualenv==20.7.2
virtualenv-clone==0.5.7
virtualenvwrapper-win==1.2.6
visitor==0.1.3
wagtail==4.1.1
wagtail-seo==0.1.0
waitress==1.4.4
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.0.2
whitenoise==5.3.0
Willow==1.4.1
wincertstore==0.2
WTForms==2.3.3
xmlschema==2.1.1
yarl==1.7.2
zipp==3.11.0
